<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>HanjaIME</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>HanjaIME ${VERSION}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HanjaIME 0.9.4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.4</string>
	<key>CFBundleSignature</key>
	<string>yno1</string>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.hanjaime.inputmethod.HanjaIME.han2</key>
			<dict>
				<key>KeyboardLayout</key>
				<string>com.apple.inputmethod.Korean.2SetKorean</string>
				<key>TICapsLockLanguageSwitchCapable</key>
				<true/>
				<key>TISInputSourceID</key>
				<string>org.hanjaime.inputmethod.HanjaIME.han2</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>HanjaIME.png</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>HanjaIME.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>HanjaIME.png</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.hanjaime.inputmethod.HanjaIME.han2</string>
		</array>
	</dict>
	<key>HIMHanjaWindowSettings</key>
	<dict>
		<key>fontName</key>
		<string>AppleSDGothicNeo</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>inputFormat</key>
		<string>HanjaOnly</string>
	</dict>
	<key>HIMHelpAppleTitle</key>
	<string>한글 입력기 도움말</string>
	<key>HanjaIMEBuildOrigin</key>
	<string>gureum/5bdc5dc3df93d5a3aa61ad1df928d76bc903054b</string>
	<key>InputMethodConnectionName</key>
	<string>HanjaIME_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>HanjaIMEInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>HanjaIMEInputController</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>HanjaIME · 오픈소스 고지: Contents/Resources/HanjaIME-Licenses</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>org.hanjaime.inputmethod.HanjaIME</string>
	<key>TISIntendedLanguage</key>
	<string>ko</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Kore</string>
		<string>Hang</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>HanjaIME.png</string>
	<key>tsInputModePrimaryInScriptKey</key>
	<true/>
</dict>
</plist>
